<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="slot-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `slot-componente`
     * slot-componente de prueba
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SlotComponente extends Polymer.Element {
      static get is() { return 'slot-componente'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot-componente'
          }
        };
      }
    }

    window.customElements.define(SlotComponente.is, SlotComponente);
  </script>
</dom-module>
