<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="slot-componente">
  <template>
    <style>
      :host {
        display: block;
      }
      p{
        border-radius: 100%;
        border: 1px solid grey;
        background-color: green;
        font-size: 20px;
        text-align: center;
        width: 30px;
    padding: 26px;
      }
    </style>

    
    <p><slot></slot></p>

    
  </template>

  <script>
    /**
     * `slot-componente`
     * slot-componente de prueba
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SlotComponente extends Polymer.Element {
      static get is() { return 'slot-componente'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot-componente'
          }
        };
      }
    }

    window.customElements.define(SlotComponente.is, SlotComponente);
  </script>
</dom-module>
